* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 20px;
}


body {
    background-color: #f5f1e6;
    color: #163d2a;
    text-align: center;
}


header {
    width: 90%;
    margin: auto;
    padding: 3em;
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #006b3c;
}


header p {
    font-size: 1rem;
    margin-bottom: 1.5em;
}


button {
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;

    background-color: #ffdf00;
    color: #002776;

    padding: 0.8em;
    margin: 0.5em;

    border: 1px solid #006b3c;
    border-radius: 10px;

    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}


main {
    width: 90%;
    margin: auto;
}


section {
    width: 100%;
}


section div {
    width: 30%;
    height: 220px;

    padding: 1.5em;
    margin: 1%;

    background-color: white;
    color: #163d2a;

    border: 1px solid #006b3c;
    border-radius: 5px;

    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);

    display: inline-block;
}


section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    color: #006b3c;
}


section p {
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 1em;
}


footer {
    padding: 2em;
    font-size: 0.7rem;
}


.dark {
    background-color: #002776;
    color: white;
}